/* Empty file for template. Remember to edit only this file and not the HTML file */
@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Italiana&family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Italiana&family=Julius+Sans+One&display=swap");
/* p{
    font-family:'Inknut Antiqua'
} */


/* images */

/* images */




:root{
    --link-color_purple: rgb(36, 45, 224);  
    --link-color_black: black;
    --text-color_yellow: rgb(255, 239, 176);
    --background-color: rgb(223, 233, 255);
    --title-color: rgb(104, 109, 213);
    --main-card-color: rgb(163, 167, 240);
    background-color: var(--background-color);
}

body{
    display: flex;
    align-items: center;
    padding: 4rem;
    width: 100%;
    background-color: var(--main-card-color);
}

h1{
    font-family:'Julius Sans One';
    color: white;
    background-color: var(--title-color);
    text-decoration: underline;
    font-size: 48px;
}

header h2{
    font-family:'Julius Sans One';
    color: white;
    background-color: var(--title-color);
    font-size: 60px;
    align-self: center;
}
    
#zen-summary{
    font-family: 'Inknut Antiqua';
}

[role="banner"]::after{
    position: relative;
    left: 0%;
    top: 70px;
    content: url(images/greek-line.png);
}

#zen-preamble::before{
    position: relative;
    left: 0%;
    top: -3px;
    content: url(images/better-greek-design.png);
}





























/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!SUPER IMPORTANT!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
[role=banner]{
    font-family: 'Julius Sans One';

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color:var(--title-color);
    border-radius: 1.5rem;
    width: 80%;
    height: 350px;
    justify-self: center;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!SUPER IMPORTANT!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
































#zen-summary a{
    font-family: 'Inknut Antiqua';
    color:black;
}

a.design-name{
    font-family: 'Julius Sans One';
    background-color:var(--text-color_yellow);
}

a.designer-name{
    font-family: 'Julius Sans One';
    background-color:var(--text-color_yellow);
}

#zen-preamble{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color:var(--title-color);
    border-radius: 1.5rem;
    width: 28%;
    justify-self: flex-start;
    font-family: 'Inknut Antiqua';
    color: var(--text-color_yellow);
}

.select{
    display: flex;
    font-family: 'Julius Sans One';
    font-size: 50px;
    justify-self: center;
    background-color:var(--text-color_yellow);
}



#zen-benefits{
    font-family: 'Julius Sans One';
}

p.benefits{
    font-family: 'Julius Sans One';
}

#zen-supporting{
    font-family: 'Julius Sans One';
    color:var(--link-color_purple)
}

#zen-participation{
    font-family: 'Inknut Antiqua';
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color:var(--title-color);
    border-radius: 1.5rem;
    width: 80%;
    justify-self: center;
}




a:link{
    background-color: var(--text-color_yellow);
}


a:hover{
    color:aqua;
}

p, a{
    text-decoration: underline;
}

p::selection{
    background-color: var(--text-color_yellow);
    color: black;
}

#zen-requirements a{ 
    font-family: 'Inknut Antiqua';
    color: white;
}

#design-archives a{
    font-family: 'Inknut Antiqua';
    color: var(--link-color_black);
}
#zen-resources a{
    font-family: 'Inknut Antiqua';  
    color: var(--link-color_black);
}

footer a{
    font-family: 'Inknut Antiqua';
    color: black;
}

.design-selection{
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color:var(--text-color_yellow);
    border-radius: 1.5rem;
    width: 20%;
    justify-self: flex-end;

    font-size: x-large;
}

[role~=contentinfo]{
    color:white;
}