/* Empty file for template. Remember to edit only this file and not the HTML file */
@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Italiana&family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Italiana&family=Julius+Sans+One&display=swap");
/* p{
    font-family:'Inknut Antiqua'
} */

*{
    background-color: var(--background-color);
}

:root{
    --link-color_purple: rgb(36, 45, 224);
    --link-color_black: black;
    --text-color_yellow: rgb(255, 239, 176);
    --background-color: rgb(223, 233, 255);
}

h1{
    font-family:'Julius Sans One';
    color: white;
}

header h2{
    font-family:'Julius Sans One';
    color: white;
}
    
#zen-summary{
    font-family: 'Inknut Antiqua';
}

#zen-summary a{
    font-family: 'Inknut Antiqua';
    color:black;
}


a.design-name{
    font-family: 'Julius Sans One';
}

a.designer-name{
    font-family: 'Julius Sans One';
}

#zen-preamble{
    font-family: 'Inknut Antiqua';
    color: var(--text-color_yellow);
}

h3.select{
    font-family: 'Julius Sans One';
}

.intro{
    font-family: 'Julius Sans One';
}

#zen-benefits{
    font-family: 'Julius Sans One';
}

p.benefits{
    font-family: 'Julius Sans One';
}

#zen-supporting{
    font-family: 'Julius Sans One';
    color:var(--link-color_purple)
}

#zen-participation{
    font-family: 'Inknut Antiqua';
    color: white;
}

#zen-participation a{
    font-family: 'Inknut Antiqua';
    color: white;
}

#zen-requirements{
    font-family: 'Inknut Antiqua';
    color: black;
}
#zen-requirements a{ 
    font-family: 'Inknut Antiqua';
    color: white;
}

#design-archives a{
    font-family: 'Inknut Antiqua';
    color: var(--link-color_black);
}
#zen-resources a{
    font-family: 'Inknut Antiqua';  
    color: var(--link-color_black);
}

footer a{
    font-family: 'Inknut Antiqua';
    color: black;
}

[role~=contentinfo]{
    color:white;
}







